h1{
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: cyan;
}
.list{
    color: darkblue;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}















